{% extends 'post/base.html' %}
{% load crispy_forms_tags %}
{% block chart %}
    <!-- Удалить график, оставив этот блок пустым -->
{% endblock %}

{% block content %}
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6 mx-auto">

                <div class="card">
                    {% if object %}
                        <p class="card-text">Редактирование поста</p>
                    {% else %}
                        <p class="card-text">Создание поста</p>
                    {% endif %}

                    <div class="card-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <button type="submit" class="gradient-button">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block chart2 %}
    <!-- Удалить информацию, оставив этот блок пустым -->
{% endblock %}